.main-cards-blocks{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-block{
  width: 77%;
}

.additional-block{
  width: 22%;
}

.create-issue-input{
  margin-bottom: 1rem;
}

.title-input{
  padding: 0.6rem 0.7rem;
  border-radius: 4px;
  border: 1px solid #DDE4E9;
  width: 50%;
  font-size: 14px;
  line-height: 21px;
}

.issue-description-textarea{
  padding: 0.6rem 0.7rem;
  width: 100%;
  height: 5rem;
  resize: none;
  background: #FFFFFF;
  font-size: 14px;
  line-height: 21px;
  border: 1px solid #DDE4E9;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.create-issue-dates{
  display: flex;
  flex-direction: row;
}

.create-issue-dates-element{
  display: flex;
  width:49%;
}

.issue-dates-element-inputs{
  display: flex;
  flex-direction: row;
}

.support-block{
  margin-bottom: 2rem;
}

.support-block-header{
  display: flex;
  flex-direction: row;
  margin-bottom: 1.1rem;
}

.support-block-tip{
  margin-left: 0.5rem;
  cursor:help;
}

.support-block-main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.support-block-main-percentage{
  display: flex;
  flex-direction: row;
  width: 10%;
  border: 2px inset #DDE4E9;
  border-radius: 5px;
  background: #FFFFFF;
  border: 1px solid #DDE4E9;
  box-sizing: border-box;
  border-radius: 4px;
}

.support-block-main-percentage span {
  margin-right: 1rem;
  padding: 0.2rem 0;
  color: #637381;
  font-size: 14px;
  line-height: 21px;
}

.support-block-main-percentage-input{
  padding: 0 0.8rem;
  width: 80%;
  border: none;
  outline: none;
  font-size: 15px;
}

.support-block-main-percentage-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}