.back__container {
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  align-items: center;
  border: 1px solid #DDE4E9;
  border-radius: 4px;
  margin: 1.3rem 0;
}

#arrow {
  margin-right: 9px;
}

.back-button {
  padding: 2px 10px;
  display: flex;
  align-items: inherit;
  font-size: 16px;
  line-height: 22px;
  margin-right: 12px;
  height: inherit;
  border-right: 1px solid #DDE4E9;
}

.back-button:hover{
  opacity: 85%;
  cursor: pointer;
}
