.required-element {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #DDE4E9;
  padding: 0.4rem 0.6rem;
}

.required-element-picture{
  width: 30px;
  height: 30px;
  overflow: hidden;
}

.required-element-title{
  width: 25%;
}

.required-element-description{
  width: 45%;
  margin-right: 1rem;
}

.approve-show{
  display: flex;
}

.approve-hidden {
  opacity: 0.01;
}