.main__container {
  width: 90%;
  margin: 0 auto;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
}

.main__form {
  background: #FFFFFF;
  box-sizing: border-box;
}

.form-general-info{
  padding: 1.4rem;
  height: 14rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #DDE4E9;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

.form-description {
  width: 47%;
}

.type__period{
  width: 47%;
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-between;
}

.description-textarea {
  padding: 4px;
  width: 100%;
  height: 80%;
  resize: none;
  background: #FFFFFF;
  border: 1px solid #DDE4E9;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.auth-document__input{
  padding: 1.4rem;
  background: #FFFFFF;
  border: 1px solid #DDE4E9;
  box-sizing: border-box;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.load-file-button {
  margin: 1rem 0px;
  width: 7.5rem;
  display: flex;
  align-items: center;
  padding: 0.4rem 0.1rem;
  border: 1px solid #DDE4E9;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  background: #FFFFFF;
  mix-blend-mode: normal;
  border: 1px solid #DDE4E9;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.load-file-button span {
  color: blue;
}

.file__input{
  display: none;
}

.file-info-card {
  width: 48%;
  padding: 1rem 0.8rem;
  border-left: 2px solid #08BEE5;
  background: #EBFAFD;
  border-radius: 4px;
}

.sign-button {
  margin: 20px 0;
  padding: 0.35rem 0.55rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  appearance: none;
  border: 1px solid #DDE4E9;
  outline: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.required-credentials{
  padding: 1.4rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #DDE4E9;
  box-sizing: border-box;
  border-radius: 4px;
}

.credentials-available-provided{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3rem;
}

.credentials-available{
  width: 49.5%;
  padding: 1.4rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #DDE4E9;
  box-sizing: border-box;
  border-radius: 4px;
}

.credentials-provided {
  width: 49.5%;
  padding: 1.4rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #DDE4E9;
  box-sizing: border-box;
  border-radius: 4px;
}

.create-proposal-button-container{
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.create-proposal-button{
  outline: none;
  padding: 0.7rem 1.3rem;
  background: linear-gradient(200.38deg, #32FFF5 -153.94%, #08BEE5 84.51%);
  mix-blend-mode: normal;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
}