.grey-dark{
  color: #212B36;
}

.fs-14 {
  font-size: 14px;
}

.board-member-proposal{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1rem;
  border-bottom: 1px solid #DDE4E9;
}

.review-status {
  color: #08BEE5;
  background-color: #95ecff7a;
  padding: 0.1rem 0.3rem;
  border-radius: 20px;
}

.complete-status {
  color: #8FA4B5;
  background-color: #DDE4E9;
  border-radius: 20px;
  padding: 0.1rem 0.3rem;
}

.details-btn{
  padding: 0.2rem 0.5rem;
  color: #212B36;
  border: 1px solid #DDE4E9;
  border-radius: 4px;
  font-size: 14px;
  line-height: 21px;
  cursor: pointer;
}