.provided-credential-element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  align-items: center;
  border-top: 1px solid #DDE4E9;
  padding: 0.4rem 0.6rem;
}

.provided-credential-main-info{
  display: flex;
  flex-direction: row;
  width: 70%;
}

.provided-credential-picture{
  display: flex;
  width: 30px;
  height: 30px;
  overflow: hidden;
  margin-right: 0.6rem;
}

.provided-credential-title{
  width: 68%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #212B36;
  font-size: 16px;
  line-height: 22px;
}

.required-show {
  display: flex;
  font-size: 12px;
  color: #08BEE5;
}

.required-hidden {
  display: none;
}