.proposal-title-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.proposal-buttons {
  display: flex;
  justify-content: space-between;
  width:18%;
}

.create-issue-button,
.reject-button{
  outline: none;
  padding: 0.4rem 1rem;
  mix-blend-mode: normal;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
  box-sizing: border-box;
}

.create-issue-button {
  background: linear-gradient(200.38deg, #32FFF5 -153.94%, #08BEE5 84.51%);  
  color: #fff;  
}

.reject-button {
  background: #ffffff;
  color: #FF6969;
  border: 1px solid #DDE4E9;
}

.main-card-block{
  width: 100%;
  background-color: #fff;
  border: 1px solid #DDE4E9;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.proposal-info-block{
  padding: 1.2rem;
  border-bottom: 1px solid #DDE4E9;
}

.row {
  display: flex;
  flex-direction: row;
}

.proposal-verify-button{
  border: none;
  padding: 0.7rem 1.2rem;
}

.proposal-info-status{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.proposal-info-title{
  font-size: 16px;
  line-height: 16px; 
  color: #637381cb;
  text-transform: capitalize;
}

.proposal-info-title:first-child{
  font-size: 15px;
}

.ml-10{
  margin-left: 10px;
}

.proposal-description{
  width: 65%;
}

.proposal-info-property{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  padding: 0.4rem 0;
}

.proposal-info-document{
  display: flex;
  color: #08BEE5;
  font-size: 15px;
  cursor: pointer;
}

.proposal-document-hash{
  padding: 0.1rem 0.2rem;
  background: #9cf7f38f;
  border-radius: 4px;
}

.proposal-card-title {
  padding: 0.2rem 1.2rem;
  border-bottom: 1px solid #DDE4E9;
}

.employment-proof-manager-picture{
  margin-right: 1rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  overflow: hidden;
  background-color: #f2f2f2;
}

.employment-proof-manager-info{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 22px;
  line-height: 34px;
  color: #000000;
}

.employment-proof-manager-position{
  font-size: 12px;
  line-height: 16px;
  color: #08BEE5;
}

.more-button{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 25px;
  color: #08BEE5;
  cursor: pointer;
}

.more-button:hover {
  background-color: rgba(238, 236, 236, 0.15);
}

.employment-proof-manager-iso2{
  font-size: 14px;
  line-height: 21px;
  color: #637381;
  text-transform: uppercase;
}