header {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  position: sticky;
}

.header__container{
  width: 94%;
  margin: 0 auto;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 18px;
}

.header-account {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.account {
  margin-right: 12px;
}

.account:last-child{
  margin-right: 0;
}

.account-pic{
  width: 24px;
  height: 24px;
  border-radius: 5px;
  background-color: #000000;
  overflow: hidden;
}

.account-wallet{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wallet-info {
  display: flex;
  flex-direction: column;
}

.wallet{
  display: flex;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
}

.provider {
  color: #2CC68F;
  font-size: 11px;
  line-height: 17px;
}

.tray {
  display: flex;
}
