.board-member-proposals-container{
  margin-top: 1.5rem;
  background: #FFFFFF;
  border: 1px solid #DDE4E9;
  box-sizing: border-box;
  border-radius: 4px;
}

.board-member-proposals-container-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.4rem 1rem;
  border-bottom: 1px solid #DDE4E9;
  text-transform: uppercase;
}

.grey-medium{
  color: #637381;
}

.fs-12{
  font-size: 12px;
}

.proposal-id{
  display: flex;
  width: 10%;
}

.proposal-type{
  display: flex;
  width: 22%;
}

.proposal-date {
  display: flex;
  width: 17%;
}

.proposal-manager {
  display: flex;
  width: 23%;
} 

.proposal-status {
  display: flex;
  width: 18%;
  text-transform: uppercase;
}

.proposal-details {
  display: flex;
  justify-content: flex-end;
  width: 10%;
}
/* proposal */