*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #212B36;
}

body {
  background-color: #F9FAFC;
}

main {
  display: flex;
  flex-direction: row;
}

.page__container {
  width: 82%;
}